fastapi==0.117.1
uvicorn==0.37.0
httpx==0.28.1
transformers==4.56.2
torch==2.8.0
scikit-learn==1.7.2
pandas==2.3.2
tqdm==4.67.1
langdetect==1.0.9
spacy==3.8.7
pt-core-news-lg @ https://github.com/explosion/spacy-models/releases/download/pt_core_news_lg-3.8.0/pt_core_news_lg-3.8.0-py3-none-any.whl
python-dotenv==1.1.1
pydantic==2.11.9
PyPDF2==3.0.1